.shopping-cart-container {
  position: absolute;
  width: 600px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid black;
  background-color: white;
  top: 40px;
  right: 40px;
  z-index: 5;
  

  .shopping-cart-item-header {
    display: grid;
    background-color: rgb(249, 248, 246);
    grid-template-columns: 20fr 2fr;
    padding: 10px;
    text-align: center;
    font-weight: bold;

    .shopping-cart-title{
      grid-column: span 3;
      background-color: black;
      color: white;
      height: 2em;
      padding-top: 10px;
      font-stretch: extra-expanded;
    }
  }


  
  .item-name {
    font-size: large;
  }

  .item-qty {
    font-weight: bold;
    text-align: center;
  }
  button {
    margin-top: auto;
  }
}
