.course-container {
    display: flex;
    min-width: 30%;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    border: 1px solid black;
    margin: 0 7.5px 15px;
    overflow: hidden;
    padding:8px;

    .course-center {
        width: 100%;
        text-align: center;
        padding-bottom: 5px;
        font-weight: bold;
    }

}

button {
    width: 50%;
    height: 2em;
    font-size: 1.1em;
    font-weight: bold;
    background-color: black;
    color: white;
}
